
@use "variables" as m;

html{
  font-family: calibri;
  height: 100%;
}

html *{
  margin:0;
  padding:0;

}

body{
  min-height: 100%;
}

.Main-Container{
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  justify-content: center;
  background-image: m.$gradient;
}

.Login{
  padding: 3rem;
  width: 20rem !important;
  height: 25rem !important;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: m.$br;
  box-shadow: 0 0 .5rem m.$black;

  &__Title{
    margin: 1rem 0 2rem;
  }

  &__Div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
  }

  &__Text{
    font-size: 1.2rem;
    color: m.$dark-grey;
  }

  &__Info{
    text-align: center;
    font-size: 1.1rem;
    color: m.$grey;
    height: 1.1rem;
    // opacity: 0;
    transition: opacity .3s;
  }

  &__Input{
    font-size: 1.1rem;
    padding: .5rem 0;
    border:none;
    border-bottom: .15rem solid m.$light-grey;
    color: m.$dark-grey;
    transition: border .3s;

    &:hover, &:focus{
      outline: none;
      border-bottom: .15rem solid m.$grey;
    }
  }

  &__Button{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 2rem 0;
    padding: .5em;
    width: 100%;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background: m.$gradient-x;
    transition: width .3s;

    &:hover{
      width: 110%;
    }
  }
}

.Profile{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%; 
  
  &__Title{
    font-size: 3rem;
    color: white;
  }

  &__Grid{
    display: grid;
    grid-template-columns: repeat(4,11rem);
    grid-auto-rows: 11rem;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    margin: 3rem;
  }

  &__Box{
    background-color: white;
    border-radius: m.$br;
    transition: box-shadow .3s, transform .3s;
    cursor: pointer;

    &:hover{
      box-shadow: 0 0 .5rem m.$black;
      transform: scale(1.03);
    }

  }

}

.bi{
  margin-right: .5rem;
}
