
@import "variables";

a{
  color: black;
}

html{
  font-family: calibri;
  height: 100%;
}

html *{
  margin:0;
  padding:0;
}

body{
  min-height: 100%;
}

.Main-Container{
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  justify-content: center;
  background-image: $gradient;
}

.Login{
  padding: 3rem;
  width: 20rem !important;
  height: 25rem !important;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: $br;
  box-shadow: 0 0 .5rem $black;

  &__Title{
    margin: 1rem 0 2rem;
    font-size: 2.5rem;
  }

  &__Div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
  }

  &__Text{
    font-size: 1.2rem;
    color: $dark-grey;
  }

  &__Info{
    text-align: center;
    font-size: 1.1rem;
    color: $grey;
    height: 1.1rem;
    // opacity: 0;
    transition: opacity .3s;
  }

  &__Input{
    font-size: 1.1rem;
    padding: .5rem 0;
    border:none;
    border-bottom: .15rem solid $light-grey;
    color: $dark-grey;
    transition: border .3s;

    &:hover, &:focus{
      outline: none;
      border-bottom: .15rem solid $grey;
    }
  }

  &__Button{
    @include Button;
    background: $gradient-x;
    transition: width .3s;

    &:hover{
      width: 110%;
    }
    
  }
}

.Profile{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%; 
  
  &__Title{
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    padding: .5rem 1rem;
    border-radius: $br;
  }

  &__Grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit ,11rem);
    grid-auto-rows: 11rem;
    grid-gap: 2rem;
    justify-content: center;
    align-content: center;
    margin: 3rem;
  }

  &__Box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $br;
    cursor: pointer;
    box-shadow: $light-shadow;
    transition: box-shadow .3s, transform .3s;
    
    & .bi{
      margin:0;
      font-size: 8rem;
    }

    &.Use{
      background-color: white;
    }

    &.Empty{
      padding-top: .5rem;
      background-color: rgba(0, 0, 0, 0.644);
      color: white;
    }

    &:hover{
      box-shadow: $shadow;
      transform: scale(1.03);
    }

  }

  // &__Placeholder{
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background-color: $grey;
  // }

}

.Info{
  padding:0;
  display: flex;
  justify-content: center;
  width: 100%;

  &__Button{
    @include Button;
    margin: 0;
    color:black;
    background: white;
    transition: width .3s;

    &:hover{
      width: 35%;
    }
  }
}

.bi{
  margin-right: .5rem;
}


